name: Generate API client SDK
run-name: Generating API SDK
on:
  push:
    paths:
      - Taskfile.yaml
      - orval.config.ts

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: nicknovitski/nix-develop@v1
        
      - name: Generate API SDK
        run: task api-sdk

      - uses: stefanzweifel/git-auto-commit-action@v5
        if: contains(github.event.commits[0].modified, 'src/generated/')
        with:
          commit_message: 'chore: generate client API SDK'
          file_pattern: |
            src/generated/*

permissions:
  contents: write